@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import "./styles/base.scss";

body {
    margin: 0;
    color: #0D1017;
}

.main-content {
    max-width: 1200px;
    margin: 18px auto;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        margin: 18px 12px;
        text-align: center;
    }
}

.page-title {
    font-size: 36px;
    margin-bottom: 16px;

}

input[type=text],
input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    border: none;
    &:focus {
        outline: none;
    }
}
