$icomoon-font-family: "music" !default;
$icomoon-font-path: "/fonts/icons/" !default;

$icon-arrow-down: "\e90b";
$icon-arrow-up: "\e90a";
$icon-discord: "\e904";
$icon-expand-less: "\e93a";
$icon-expand-more: "\e93b";
$icon-telegram: "\e903";
$icon-transfer: "\e900";
$icon-twitter: "\e901";
$icon-wallet: "\e902";
